h1,h2,h3,h4,h5,h6,p,a,span,input,button {
    font-family: 'Lato', sans-serif;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.marginCenter {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.vendorFlex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.nonMarginDesc {
    margin: 0;
}



.allButtonStyle {
    font-weight: bold;
    text-transform: uppercase;
    color: #fefefe;
    background: #95c5cf;
    border-radius: 25px;
    height: 40px;
    transition: all .3s;
    outline: none !important;
    border: none;
    line-height: 26px;
}

.allButtonStyle:hover {
    background: #80b2ba;
    color: #fff;
}

.container-fluid,
.paddingNone {
    padding: 0;
}

/**********HEADER**********/
.headerAll {
    padding-top: 30px;
}

.headerInfo {
    padding-bottom: 15px;
}

.cityInfo p a {
    font-weight: 400;
    color: #1c1d21;
    text-decoration: underline;
    font-size: 15px;
}

.cityPosition {
    outline: none !important;
}

.cityInfo p {
    font-weight: 400;
    color: #1c1d21;
    font-size: 14px;
}

.cityBlock {
    margin-bottom: 34px;
}

.backCall {
    width: 100%;
    margin-top: 5px;
}

.logoBlock {
    text-align: center;
    padding-top: 5px;
}

.someTelephoneHead {
    padding-top: 12px;
    text-align: right;
}

.someTelephoneHead p {
    font-size: 18px;
    margin: 0;
}

p.opasTextTelephone {
    color: #a5a5a5;
    text-align: right;
    font-size: 13px;
}

.navsAll li {
    display: inline-block;
    margin: auto;
}

.containerNavs {
    background: #ececec;
}

.navsAll {
    padding: 20px 0;
}

.navsAll li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #1c1d21;
    font-size: 15px;
    transition: all .3s;
}

.searchBlockAll {
    padding-top: 15px;
}

.cartButton {
    width: 100%;
}

.notAddedToCart {
    background: #fff;
    border: 2px solid #95c5cf;
    color: #95c5cf;
}

.cartButtonBlock {
    position: relative;
}

.searchInput {
    width: 100%;
    font-size: 16px;
    border:2px solid #95c5cf;
    border-radius: 25px;
    padding: 7px 16px;
    outline: none !important;
}

.searchInput::-webkit-input-placeholder {
    color: #95c5cf;
}

.searchIcon {
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 15px;
    color: #95c5cf;
    cursor: pointer;
}

.countCartAll {
    position: absolute;
    top: -15px;
    right: 4px;
    width: 32px;
    height: 32px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    display: flex;
}

.countCartAll span {
    font-weight: 600;
    font-size: 14px;
    margin: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #95c5cf;
    line-height: 24px;
    cursor: pointer;
}

.navsIcons {
    margin-top: 15px;
}

.navsIcons li {
    width: 20%;
    text-align: center;
}

.navsIcons li img {
    margin-bottom: 10px;
}

.navsIcons li a {
    display: block;
}

.navsIcons li a span {
    display: block;
}

.slider1.slick-dotted.slick-slider {
    margin-bottom: 80px ;
    padding: 0 15px;
}

.blockSliderImg1 {
    /*height: 440px;*/
    width: 100%;
    background: url("../img/sl2.jpg") no-repeat center;
}

.blockSliderImg2 {
    /*height: 440px;*/
    width: 100%;
    background: url("../img/sl2.jpg") no-repeat center;
}

.blockSliderImg3 {
    /*height: 440px;*/
    width: 100%;
    background: url("../img/sl2.jpg") no-repeat center;
}

.blockSliderAll {
    height: 440px;
}

.slTextTitle {
    font-style: italic;
}

.slider1 .slick-next {
    right: 30px;
}

.slider1 .slick-prev {
    left: 25px;
    z-index: 2000;
}

.slider1 .slick-prev:before {
    color: transparent;
    font-size: 24px;
    opacity: 1;
    background: url("../img/leftArr.png") no-repeat center;
}

.slider1 .slick-next:before {
    color: transparent;
    font-size: 24px;
    opacity: 1;
    background: url("../img/rightArr.png") no-repeat center;
}

.slider1 .slick-dots {
    bottom: 15px;
}

.slider1 .slick-dots li {
    border: 2px solid #fff;
    width: 15px;
    height: 15px;
}

.slider1 .slick-dots li.slick-active {
    background: #fff;
}

.slider1 .slick-dots li button:before {
    opacity: 0;
}

.checkboxStyle {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}
.checkboxStyle + label {
    cursor: pointer;
}
.checkboxStyle:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkboxStyle:not(checked) + label {
    position: relative;
    border: 2px solid #9bc6cd;
    border-radius: 50%;
    background: #FFF;
    width: 22px;
    height: 22px;
    text-align: center;
}

.checkboxStyle:not(checked) + label:after {
    content: url(../img/checkedImg.png);
    top: 1px;
    left: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 0;
    transition: all .3s;
    position: absolute;
    margin: auto;
}

.checkboxStyle:checked + label:after {
    opacity: 1;
    background:  no-repeat center;
}

.checkFilters {
    padding: 0;
}

.blockFilters {
    padding-bottom: 4px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 16px;
}

.textFiltersBlockName {
    padding: 0;
}

.checkedText {
    font-size: 15px;
    font-weight: 400;
}

.accordBlock {
    position: relative;
}

.titleAccord {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0 12px 0;
    cursor: pointer;
}

.arrowAccord {
    position: absolute;
    right: 0;
    top: 3px;
    cursor: pointer;
}

.notActiveAccords {
    opacity: 0.5;
}

.arrowAccord {
    transition: all .3s;
}

.notActiveAccords span{
    transform: rotate(90deg);
}

.titleContentStyle {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 30px;
}

.styleCardsAll1 {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    transition: box-shadow .3s;
}

.styleCardsAll1 img {
    min-height: 220px;
    max-height: 220px;
}

.styleCardsAll1 h3 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.trhouthText {
    text-decoration: line-through;
}

.priceActionList {
    text-align: center;
    color: #8a8a8a;
    font-size: 13px;
}

.newCostText {
    text-align: center;
    font-weight: bold;
    margin: 16px 0 16px 0;
}

.btnAllCarts {
    color: #95c5cf;
    border: 2px solid #95c5cf;
    border-radius: 25px;
    background-color: transparent;
    transition: background-color, color .3s;
    font-weight: bold;
    padding: 6px;
    margin-right: 8px;
}

.btnAllCarts:hover {
    border: 2px solid #95c5cf;
    background-color: #95c5cf;
    color: #fff;
}

.padd10px {
    padding: 0 10px;
}

.thumbnail.styleCardsAll1 .caption {
    padding: 9px 6px 15px;
    color: #333;
    text-align: center;
}

.styleCardsAll1:hover {
    -webkit-box-shadow: 0px 0px 25px 10px rgba(212,230,234,1);
    -moz-box-shadow: 0px 0px 25px 10px rgba(212,230,234,1);
    box-shadow: 0px 0px 25px 10px rgba(212,230,234,1);
}

.boxFilterAndContent {
    background: #fafafa;
    padding-top: 80px;
}

.margTitleStyle {
    margin-top: 65px;
}

.salesBlockStyleMain {
    background: #95c5cf;
    height: 130px;
    border-radius: 0;
}

.salesBlockStyleMain img {
    position: absolute;
    bottom: 30px;
    right: 20px;
}

.salesBlockStyleMain .caption {
    margin: auto;
    padding: 0;
}

.salesBlockStyleMain h3 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin: auto;
}

.linkFullSales {
    color: #95c5cf;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: underline;
    transition: all .3s;
    font-size: 18px;
}

.linkFullSales:hover {
    color: #95c5cf;
    text-decoration: none;
}

.brendsMAinStyle {
    height: 170px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    transition: box-shadow .3s;
    border: none;
}

.brendsMAinStyle:hover {
    -webkit-box-shadow: 0px 0px 25px 10px rgba(212,230,234,1);
    -moz-box-shadow: 0px 0px 25px 10px rgba(212,230,234,1);
    box-shadow: 0px 0px 25px 10px rgba(212,230,234,1);
}

.brendsMAinStyle img {
    margin: auto;
}

.notDecorLink {
    text-decoration: none !important;
    cursor: pointer;
}

.catalogsMAinStyle {
    height: 300px;
    padding: 70px 70px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    transition: box-shadow .3s;
}

.catalogsMAinStyle:hover {
    -webkit-box-shadow: 0px 0px 25px 10px rgba(212,230,234,1);
    -moz-box-shadow: 0px 0px 25px 10px rgba(212,230,234,1);
    box-shadow: 0px 0px 25px 10px rgba(212,230,234,1);
}

.thumbnail {
    border: none;
    border-radius: 1px;
}

.textMainAll {
    text-align: center;
    padding-top: 30px;
}

.textMainAll p {
    color: #707071;
    font-size: 13px;
    line-height: 22px;
}

.kidsCatalog {
    margin-top: 40px;
}

.linkTopClick {
    float: right;
    text-align: center;
    padding-top: 100px;
}

.linkTopClick a {
    color: #5da1af;
    text-decoration: none !important;
    font-weight: 600;
}

.linkTop {
    display: block;
    color: #5da1af;
    font-size: 60px;
}

.socialBlock {
    margin-top: 23px;
}

.socialsList li {
    display: inline-block;
}

.socialsList li a {
    background: #94c5cf;
    transition: all .3s;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    color: #fff;
    text-decoration: none !important;
}

.socialsList li a i {
    margin: auto;
    font-weight: bold;
    font-size: 19px;
}

.footerLogo {
    text-align: center;
}

.allFooter {
    margin-top: 65px;
}

.footerListCont {
    margin-top: 20px;
    text-align: right;
}

.footerListCont li {
    font-size: 13px;
}

.opasTextTelephone.footerTel {
    text-align: right;
    font-size: 13px;
    /*color: #231f20;*/
}

.allFooter .opasTextTelephone {
    padding-top: 2px;
}

.copyRightText {
    color: #a5a5a5;
    font-size: 13px;
}

.createdBy {
    text-align: right;
    color: #a5a5a5;
}

.createdBy a {
    font-size: 13px;
    text-decoration: none !important;
    color: #a5a5a5;
}

.createdBlock {
    margin-top: 40px;
}

.cratsListAddedAll {
    position: absolute;
    background: #ECECEC;
    width: 280px;
    right: 13px;
    top: 43px;
    padding: 18px 18px;
    display: none;
    z-index: 1;
}

.cratsListAddedAll img {
    margin: auto;
    width: 46px;
    height: 46px;
    margin-left: 0;
}

.cratsListAddedAll a {
    margin: auto;
    font-size: 13px;
    text-decoration: underline;
    color: inherit;
}

.cratsListAddedAll span {
    margin: auto;
    cursor: pointer;
    margin-right: 0;
}

.cratsListAddedAll li {
    margin-bottom: 10px;
}

.openCarts {
    width: 100%;
    margin-top: 8px;
}

#myModal1 .modal-title {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: #95c5cf;
}

.modalCityList li {
    text-align: center;
    margin-bottom: 10px;
}

.modalCityList li a {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: #1c1d21;
}

.modalCityList li a.activeCity {
    color: #95c5cf;
}

#myModal1 .modal-content {
    width: 400px;
    margin: auto;
    padding: 50px 30px 50px 30px;
}











/***************SALES***************/

.slaesMain {
    padding-top: 20px;
    margin-top: 50px;
    background: #fafafa;
}

.margTitleStyleAll {
    margin: 45px auto;
}

.bradCrumbsPage {
    margin-bottom: 45px;
}

.crambsList li {
    display: inline-block;
}

.crambsList li a {
    color: #1c1d21;
}

.boxSalesStyle h3 {
    color: #1c1d21;
    font-weight: bold;
    font-size: 16px;
}

.boxSalesStyleText {
    padding-top: 12px;
    color: #727272;
}

.salesBoxBlockMarg {
    padding-bottom: 25px;
}

.salesBoxBlockMarg .thumbnail {
    background: transparent;
}

.salesBoxBlockMarg .thumbnail .caption {
    padding: 9px 0;
}

.allLinkMargTop {
    padding: 0;
}

.leftReviews .nonBord {
    border: none;
}





/***************BLOG***************/

.titleLightBlue {
    color: #95c5cf;
    font-weight: bold;
    border-bottom: 2px solid;
    display: inline-block;
    margin-bottom: 16px;
}

.titleLightBlue a {
    color: #95c5cf;
    text-decoration: none !important;
}

.titleLightBlue:hover {
    border-color: transparent;
}

.podTemasTitle {
    color: #fff;
    background: #95c5cf;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 18px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    position: relative;
    z-index: 2;
}

.blockDopTemasHover {
    position: relative;
}

.blogLeftNavs {
    padding-right: 90px;
}

.dopTemasHov li {
    padding: 12px 18px;
    color: #95c5cf;
    font-weight: bold;
    font-size: 15px;
}

.dopTemasHov li a {
    color: inherit;
    text-decoration: none !important;
}

.dopTemasHov {
    border: 2px solid #95c5cf;
    position: relative;
    top: -30px;
    width: 100%;
    padding-top: 20px;
    z-index: 1;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    opacity: 0;
    transition: all .3s;
}

.blockDopTemasHover:hover .podTemasTitle {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.blockDopTemasHover:hover .dopTemasHov {
    display: block;
    opacity: 1;
    height: auto;
    margin-bottom: 50px;
}

.titlesNewSubscription {
    color: #95c5cf;
    text-align: center;
    margin-bottom: 30px;
}

.allInputStyle {
    outline: none !important;
    border-radius: 25px;
    border: 2px solid #e4e3e3;
    padding: 8px 20px;
    width: 100%;
}

.subscriptionForm {
    text-align: center;
    padding: 0 35px;
}

.formSubsText {
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.subscriptionForm .allButtonStyle {
    width: 100%;
    margin-top: 30px;
}

.podTemasTitle span {
    color: #fff;
    position: absolute;
    height: 15px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 15px;
}

.articleImg {
    height: 210px;
}

.articleImg img {
    width: 100%;
    height: 100%;
}

.paragText {
    color: #727272;
    padding-left: 10px;
}

.blogOpisText {
    margin-top: 26px;
    margin-bottom: 0;
    color: #727272;
}

.blogOpisTextAll {
    padding-top: 12px;
    padding-left: 10px;
}

.blogOpisTextList {
    margin-top: 26px;
}

.blogOpisTextList li {
    color: #727272;
    font-family: 'Lato', sans-serif;
    margin-top: 26px;
}

.blogOpisTextList li span {
    color: #95c5cf;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
}

.blogOpisTextList li span.blogOpisTextListOkay {
    font-size: 12px;
}

.blogVideoBlock iframe {
    width: 80%;
    height: 350px;
    margin: 50px auto 0;
    display: block;
}

.allBlockComments {
    padding-top: 20px;
    padding-left: 10px;
}

.namePersonComm {
    font-weight: bold;
    color: #1c1d21;
    margin-bottom: 6px;
    font-size: 14px;
}

.styleComments {
    color: #8a8a8a;
    font-size: 14px;
    margin-top: 40px;
}

.dateCommits {
    font-size: 13px;
}

.addedNewCommentsForm {

}

.addedNewCommentsFormTitle {
    font-weight: bold;
    font-size: 20px;
    color: #1c1d21;
    margin-top: 45px;
}

.inputTitleName {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.nameAddNewCommSubmit {
    width: 100%;
    margin-top: 25px;
}

.inputAddComTextarea {
    height: 107px;
}

.inputGroupAddComm {
    width: 29%;
    float: left;
}

.textareaFormGroup {
    width: 68%;
    margin-left: 3%;
    float: left;
}

.AllBlogStyle {
    padding-bottom: 20px;
}

.AllBlogStyle .linkTopClick {
    padding-top: 40px;
}

.margTopBlogAll {
    margin-top: 40px;
}

.allBlogParagText {
    text-align: right;
    padding: 0;
    padding-top: 10px;
    font-size: 13px;
    margin-bottom: 40px;
}

.dateParagText {
    float: left;
}

.titleBrendsName {
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
}

.sertificateList li {
    width: 23%;
    float: left;
    margin-right: 2.6%;
}

.sertificateList li:last-child {
    margin: 0;
}

.sertificateList li img {
    width: 100%;
}

.blockSertificateBrends {
    margin-top: 30px;
    margin-bottom: 40px;
}

.brendBlueTitle {
    text-align: center;
}

.brendBlueTitle h4 {
    font-weight: 500;
}

.brendLinkTop {
    padding-top: 0;
}

.brendAllTitleMargNotCrambs {
    margin-top: 100px;
}

.marginTopNone {
    margin-top: 0;
}

.tittleMap  {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 26px;
}

.tittleMap a {
    text-decoration: underline;
    color: #1c1d21;
}

.deliveryLinkTop {
    padding-top: 50px;
}

.brandMain {
    padding-top: 20px;
    margin-top: 50px;
}

.sizeMediumText {
    font-weight: 500;
    font-size: 18px;
    color: #1c1d21;
    text-align: center;
}

.sizeNav {
    padding-top: 80px;
}

.sizeNav li {
    float: left;
    display: inline-block;
    width: 16.66%;
    text-align: center;
    letter-spacing: 0.85px;
    transition: all .3s;
    min-height: 370px;
    cursor: pointer;
    padding-top: 15px;
}

.sizeNav li img {
    height: 308px;
}

.sizeNav li p {
    font-weight: bold;
    text-align: center;
    margin-top: 6px;
}

.mainColor {
    background-color: #fafafa;
}

.sizeNav li.active {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    position: relative;
}

.sizeNav li.active:before {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 15px;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 2;
}

.sizeNav li.active p {
    color: #009fe3;
}

.tabsContent {
    display: none;
    padding: 50px 0;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
}

.startTabs {
    display: block;
}

.textSizeTabs {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.startTabs img {
    text-align: center;
    margin: 0 auto;
}

.tableSizeBlok img {
    margin-top: 20px;
}

.imgBord img {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.sliderCards a {
    display: block;
    margin: 0 auto;
}

.sliderCardsMin {
    margin-top: 40px;
}

.sliderCardsMin .slick-next {
    height: 40px;
    /*right: 0;*/
}

.sliderCardsMin .slick-next:before {
    font-size: 28px;
    color: transparent;
    background: url("../img/rigtCardArr.png") no-repeat center;
}

.sliderCardsMin .slick-prev:before {
    font-size: 28px;
    color: transparent;
    background: url("../img/cardleftArr.png") no-repeat center;
}

.imgBord {
    padding: 8px;
    margin: 0 10px;
    border: 2px solid #ececec;
    width: 124px;
    height: 130px;
}

.allCardsBlock {
    padding: 40px 30px 30px 50px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.25);
}

.slick-slide {
    outline: none !important;
}

.slick-slide.slick-current .imgBord {
    border: 2px solid #1c1d21;
}

.sliderCardsMinPop .slick-slide.slick-current .imgBord {
    border: 2px solid #1c1d21;
}

.sliderCardsMinPop .slick-slide .imgBord {
    border: 2px solid #fff;
}

.closeBlue {
    z-index: 11111;
    opacity: 1;
}

.closeBlue span {
    color: #71c0d0;
    font-size: 26px;
    font-weight: bold;
}

.titleBlockOpisCards {
    font-weight: bold;
    font-size: 30px;
    margin-top: 4px;
    margin-bottom: 2px;
}

.articles {
    font-size: 13px;
    color: #8a8a8a;
}

.blocSkidCost {
    color: #8a8a8a;
}

.blocSkidCost {
    position: relative;
    margin-top: -10px;
}

.bigCost {
    color: #95c5cf;
    font-size: 28px;
    font-weight: bold;
    margin-left: 30px;
    position: relative;
}

.costNone {
    margin-left: 30px;
    text-decoration: line-through;
}

.textNall {
    padding-top: 35px;
}

.addCountBlock {
    margin-top: 10px;
    border-top: 2px solid #ececec;
    border-bottom: 2px solid #ececec;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.leftCountBlock {
    padding: 4px 0 0 12px;
    width: 30px;
    height: 30px;
    border: 1px solid #f1f1f1;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background: #f1f1f1;
    cursor: pointer;
}

.rightCountBlock {
    padding: 4px 0 0 7px;
    width: 30px;
    height: 30px;
    border: 1px solid #f1f1f1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #f1f1f1;
    cursor: pointer;
}

.allFloatLeft {
    float: left;
}

.inputOverFlow  {
    width: 40px;
    overflow: hidden;

}

.inputCount {
    height: 30px;
    border: 2px solid #f1f1f1;
    outline: none !important;
    padding-left: 15px;
}

.margAuto {
    margin: auto;
}

.countText {
    margin: 0;
}

.margAutoTop {
    margin: auto 0;
    width: 93px;
}

.listSizeForm li {
    border-radius: 18px;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    display: inline-block;
    width: 50px;
    text-align: center;
    height: 33px;
    vertical-align: middle;
    line-height: 2;
    font-size: 15px;
    transition: all .3s;
    margin-right: 6px;
}

.opasList {
    opacity: 0.4;
}

.listSizeForm li:hover {
    background: #a5a5a5;
    border-color: #a5a5a5;
}

.listSizeForm {
    width: 420px;
    padding-left: 3px;
}

.topFormBlock {
    margin-top: 20px;
}

.middleFormBlock {
    margin-top: 25px;
}

.btnAllCarts:focus,
.btnAllCarts:active {
    color: #95c5cf !important;
    border: 2px solid #95c5cf !important;
    background: inherit !important;
}

.italTextCard {
    margin-top: 20px;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
}

.bottomBlockInfoText {
    color: #727272;
    line-height: 19px;
}

.buttonSizeModal {
    width: 100%;
    margin-top: 30px;
    height: 52px;
    font-size: 20px;
    padding-top: 11px;
}

.navsIconCards li {
    width: 31%;
    text-align: left;
}

.navsIconCards li:last-child {
    width: 36%;
}

.cardsTitleMarg {
    margin-left: 90px;
}

.leftReviews {
    padding-left: 0;
}

.leftReviews .titleLightBlue {
    font-size: 17px;
}

.cardsReviews {
    padding-top: 30px;
}

.reviewsInfoBlock {
    height: 300px;
}

.scrollable .scroll-bar.vertical .thumb {
    width: 4px;
    background: #a5a5a5;
    cursor: pointer;
}

.rightReviews .inputAddComTextarea {
    height: 127px;
}

.cardsReviews {
    padding-bottom: 30px;
    border-bottom: 2px solid #a5a5a5;
}


.thisCenter {
    text-align: center;
}

.thisCenter .titleLightBlue {
    font-size: 18px;
    font-weight: 500;
}

.contactMain {
    min-height: 600px;
}

.cartTitleBlock {

}

.borderBottomCartTitle {
    border-bottom: 2px solid #ececec;
}

.colorTransparent {
    color: transparent;
}

.normTextCartList {
    padding-top: 15px;
}

.cartTitleText {
    font-weight: bold;
}

.listCartAll {
    font-family: 'Lato', sans-serif;
}

.firstCost {
    font-size: 15px;
    text-decoration: line-through;
}

.secondCost {
    font-size: 18px;
    font-weight: bold;
}

.cartDelGlif {
    color: #95c5cf;
}

.thStyle {

}

.panel-default {
    border: none;
    padding: 40px 20px;
    -webkit-box-shadow: 0px 6px 14px 0px rgba(230,232,237,1);
    -moz-box-shadow: 0px 6px 14px 0px rgba(230,232,237,1);
    box-shadow: 0px 6px 14px 0px rgba(230,232,237,1);
}

.nonBorderAll {
    border-top: none !important;
}

.listOpisTov li {
    font-size: 16px;
    line-height: 31px;
}

.allTextRight {
    text-align: right;
}

.blockStyleInsetTable {
    padding-top: 15px;
}

.promoBlock .titleLightBlue {
    border: none;
    font-size: 16px;
}

.promoBlock {
    padding: 20px 0 14px;
    border-bottom: 2px solid #ececec;
}

.promoBlock span {
    font-size: 18px;
    margin-left: 6px;
}

.inputPromoCode {

}

.paddinLeftNone {
    padding-left: 0;
}

.cardSkidkaButton {
    width: 100%;
}

.buttonBlockCard {
    padding-top: 25px;
}

.costZakMin {
    font-weight: bold;
    font-size: 13px;
    text-align: right;
}

.costZakBig {
    font-weight: bold;
    font-size: 17px;
    text-align: right;
}

.costZakMin.text-left,
.costZakBig.text-left {
    text-align: left;
}

.titlePriceDel {
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 25px;
}

.cartBlockDelPrice {
    padding: 15px 0;
}

.delSomeText {
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 16px;
    color: #727272;
}

.mapCarts {
    padding-top: 36px;
}

.buttonCartAll .allButtonStyle {
    width: 80%;
    height: 43px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burgerBlock {
    display: none;
}

.popapCartOpisTitle {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 18px;
}

.modal3 .modal-dialog {
    width: 70%;
}

.margBot40px {
    margin-bottom: 32px;
}

.modal3 .modal-content {
    padding: 40px 20px 70px 20px;
}

.costOrderCart,
.popapCartOpis {
    font-size: 13px;
    line-height: 16px;
}

.cartModalInput {
    margin-bottom: 20px;
}

.buttonCartModal {
    padding: 12px 71px;
    height: 48px;
    display: block;
    margin: 20px auto 20px auto;
}

.modalTextCenter {
    text-align: center;
}

.modal4 .modal-dialog {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.modal4 .modal-content {
    padding: 40px 40px 70px 40px;
}

.tableSizeImgPopap img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modalSizeTitle {
    border: none;
    display: block;
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.myStylePositionClose {
    position: absolute;
    top: 3px;
    right: 10px;
    z-index: 101010;
}

.openModalCard img {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.sliderCardsMinPop {
    margin-bottom: 30px;
}

.openModalCard {
    outline: none !important;
}

.sliderCardsPop .slick-prev:before,
.sliderCardsPop .slick-next:before {
    color: transparent;
}

/*.modal5 .modal-dialog {*/
    /*width: 75%;*/
/*}*/

.sliderCardsPop .slick-next {
    background: url(../img/popArr.png) no-repeat center;
    width: 30px;
    height: 40px;
    right: 20px;
    z-index: 2000;
}

.sliderCardsPop .slick-prev {
    background: url(../img/popArr2.png) no-repeat center;
    width: 30px;
    height: 40px;
    left: 20px;
    z-index: 2000;
}

.modal6 .modal-dialog {
    width: 450px;
}

.modal6 .modal-content {
    padding: 60px;
}

.modal7 .modal-dialog {
    width: 450px;
}

.modal7 .modal-dialog .cratsListAddedAll {
    position: relative;
    display: block;
    right: 0;
    left: 0;
    top: 0;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
}

.modal7 .modal-content {
    padding: 50px 20px;
}

.addedCartTitleModal {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
/*************MEDIA*************/

@media (max-width: 1199px) {
    .paddingNoneMedia1199 {
        padding: 0;
    }

    .catalogsMAinStyle {
        padding: 70px 30px;
    }

    .allCardsBlock {
        padding:40px 0;
    }

    .imgBord {
        width: 104px;
        height: 110px;
    }

    .sliderCardsMin .slick-prev {
        left: -17px;
    }

    .sliderCardsMin .slick-next {
        right: -17px;
    }

    .imgMap img {
        width: 100%;
    }

    .tableSizeBlok img {
        width: 100%;
    }

    .modal3 .modal-dialog {
        width: 90%;
    }

    .tableSizeImgPopap img {
        width: 100%;
    }

    .sliderCardsMinPop .imgBord{
        margin: auto;
    }
}

@media (max-width: 991px) {
    .mediaPadding991 {
        padding: 0;
    }

    .navsIcons li {
        width: 100%;
    }

    .allButtonStyle {
        font-size: 11px;
    }

    .titleContentStyle {
        font-size: 28px;
    }

    .catalogsMAinStyle {
        padding: 50px 0px;
        height: 250px;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .modal4 .modal-dialog {
        width: 90%;
    }

    body,html {
        overflow-x: hidden;
    }

    .sizeNav li {
        word-wrap: break-word;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .blogLeftNavs {
        padding-right: 0px;
    }

    .articleImg {
        height: 130px;
    }

    .blogVideoBlock iframe {
        width: 100%;
        height: 250px;
    }

    .brendAllTitleMargNotCrambs {
        margin-top: 0;
    }

    .brandBlockImg img {
        width: 100%;
    }

    .sliderCardsMin {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .blockCardOpis {
        margin-top: 20px;
    }

    .listSizeForm {
        width: 100%;
    }

    .mediaWidth {
        width: 100%;
    }

    .countText {
        padding-top: 6px;
    }

    .navsIcons li,.navsIconCards li:last-child {
        text-align: center;
        margin-bottom: 15px;
        width: 100%;
    }

    .tittleMap {
        margin-top: 35px;
    }

    .sizeNav li p {
        font-size: 10px;
        padding: 0 4px;
    }

    .sizeNav li img {
        height: 238px;
    }

    .sizeNav li {
        min-height: 310px;
    }

    .modal3 .modal-content {
        padding: 40px 0px 70px 0px;
    }
}

@media (max-width: 767px) {
    .mediaNonPadd767 {
        padding: 0;
    }

    .burgerBlock {
        display: block;
    }

    .cityInfo {
        text-align: center;
        margin-bottom: 10px;
    }

    .logoBlock {
        margin-bottom: 10px;
    }

    .telephoneHeadBlock,
    .someTelephoneHead,
    p.opasTextTelephone {
        text-align: center;
    }

    .paddingNoneMedia767 {
        padding: 0;
    }

    .navsIcons {
        display: block;
    }

    .modal6 .modal-dialog {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal7 .modal-dialog {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal6 .modal-content {
        padding: 12px;
    }

    .modal7 .modal-content {
        padding: 12px;
    }

    .modal7 .modal-dialog .cratsListAddedAll {
        width: 100%;
    }

    .sliderCardsPop .slick-prev {
        left: -10px;
    }

    .sliderCardsPop .slick-next {
        right: -10px;
    }



    .navsAll {
        display: none;
    }

    .navsAll li {
        width: 100%;
        text-align: center;
        margin-bottom: 7px;
    }

    body,html {
        overflow-x: hidden;
    }

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .mediaMargImg {
        margin-bottom: 20px;
        text-align: center;
    }

    .mediaMargImg>img {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .navsIcons li a span {
        margin-bottom: 15px;
    }

    .slider1.slick-dotted.slick-slider {
        margin-bottom: 0;
    }

    .cartButtonBlock {
        margin-top: 20px;
    }

    .titleContentStyle {
        font-size: 18px;
    }

    .margTitleStyle {
        margin-top: 15px;
    }

    .createdBlock,
    .createdBy {
        text-align: center;
    }

    .createdBy {
        margin-bottom: 15px;
    }

    .allFooter,
    .opasTextTelephone.footerTel,
    .footerListCont {
        text-align: center !important;
    }

    .blockSliderAll {
        height: 300px;
    }

    .textMainAll p {
        padding: 0 15px;
    }

    .linkTopClick {
        float: none;
    }

    #myModal1 .modal-content {
        width: 300px;
    }

    .marginInputStyleBlog {
        margin-top: 30px;
    }

    .subscriptionForm {
        padding: 0;
    }

    .blogLeftNavs {
        padding-right: 15px;
    }

    .articleImg {
        height: 300px;
    }

    .slaesMain {
        margin-top: 0;
    }

    .allBlockComments {
        padding-left: 0;
    }

    .inputGroupAddComm,
    .textareaFormGroup {
        width: 100%;
        margin: 0;
    }

    .blogOpisTextAll {
        padding-left: 0;
    }

    .mediaMargImg {
        margin-bottom: 20px;
        padding: 0;
    }

    .paragText {
        padding: 0;
    }

    .footerLogo {
        margin-top: 20px;
    }

    .brandBlockImg {
        margin-bottom: 30px;
    }

    .titleBlockOpisCards {
        font-size: 21px;
    }

    .topFormBlock {
        display: block;
        text-align: center;
    }

    .countText,.margin767this {
        margin-bottom: 10px;
    }

    .clearfixMedia:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .rightReviews {
        padding: 0;
    }

    .imgMediaWidth {
        width: 75px;
        height: 75px;
    }

    .imgMediaWidth img {
        width: 100%;
    }

    .listOpisTov li {
        font-size: 12px;
        line-height: 20px;
    }

    .cartBlockDelPrice {
        padding: 15px;
    }

    .salesBoxBlockMarg {
        padding: 0 15px;
    }

    .crambsList {
        padding-left: 15px;
    }

    .sizeMediumText {
        margin-bottom: 2px;
        font-size: 13px;
    }

    #myModal1 .modal-title {
        font-size: 16px;
    }

    .modal3 .modal-dialog {
        width: 300px;
        margin: 0 auto;
    }

    .modalSizeTitle {
        font-size: 20px;
        margin-bottom: 20px;
    }
}



@media (max-width: 680px) {
    .sizeNav li {
        width: 33.333%;
    }
}

@media (max-width: 580px) {
    .articleImg {
        height: 180px;
    }

    .mediaWidth100 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .mediaWidth60 {
        width: 110px;
        padding-left: 0;
    }

    .mediaWidth40 {
        width: 60px;
    }

    .imgMediaWidth {
        width: 40px;
        height: 40px;
    }

    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 2px;
    }

    .sliderCardsMinPop {
        display: none;
    }

    .listOpisTov li {
        font-size: 10px;
        line-height: 10px;
    }

    .firstCost {
        font-size: 8px;
    }

    .modal4 .modal-content {
        padding: 0;
    }

    .dopPaddMedia {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 70px;
    }

    .secondCost {
        font-size: 9px;
        white-space: nowrap;
    }

    .thStyle {
        font-size: 10px;
    }

    .promoMedia {
        font-size: 10px;
        padding-top: 13px;
    }

    .nonBokPadd {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .cartDelGlif {
        font-size: 9px;
        vertical-align: super;
    }

    .panel-default {
        padding-left: 10px;
        padding-right: 10px;
    }

    .promoBlock .titleLightBlue {
        font-size: 12px;
    }

    .mediaPromoStyle {
        text-overflow: ellipsis;
        width: 30px;
        padding-right: 4px !Important;
    }
}

@media (max-width: 480px) {
    .sliderCardsMin {
        display: none;
    }

    .leftReviews  .cardsTitleMarg {
        margin-left: 4px;
    }

    .zoom,.slick-slide img {
        width: 100% !important;
    }

    .sizeNav li {
        width: 50%;
    }
}
